<div class="box">
  <div *ngIf="offer" class="offer-detail">
    <p-card [(ngModel)]="offer" [header]="offer.bookName" [style]="{'margin-bottom': '1em'}">
      <p>Autor: {{offer.author}}</p>
      <p>Žánr: {{bookGenreMap.get(offer.genre)!!.nameCz}}</p>
      <hr>
      <p>Nabízející: {{offer.userName}}</p>
      <p>Datum vytvoření: {{offer.createdDate}}</p>
    </p-card>
    <p-card *ngIf="offer.rating || offer.review" [(ngModel)]="offer" header="Recenze" [style]="{'margin-bottom': '1em'}">
      <span>Hodnocení: <p-rating [ngModel]="offer.rating" [readonly]="true" [cancel]="false"></p-rating></span>
      <div *ngIf="offer.review; else noReview">
        <p>Recenze:</p>
        <div *ngIf="showReview; else hideReview">
          <p>{{offer.review}}</p>
        </div>
        <ng-template #hideReview>
          <p>Recenze může obsahovat spoilery</p>
          <p-button label="Zobrazit recenzi" icon="pi pi-eye" (click)="showReview = true"></p-button>
        </ng-template>
      </div>
      <ng-template #noReview>
        <p>Uživatel nezveřejnil recenzi</p>
      </ng-template>
    </p-card>
  </div>

  <p-card header="Chat" class="chat">
    <div *ngIf="chatDataReady" style="overflow: auto;">
      <div *ngIf="isOwnOffer(); else notOwnerView">
        <div *ngIf="chats; else noChats">
          <p-tabView>
            <p-tabPanel *ngFor="let chat of chats; let first = first" [header]="chat.byUserName" [selected]="first">
              <div *ngIf="first; else lazyTabView">
                <offer-chat [chat]="chat" (onSend)="sendChatMessage($event)"></offer-chat>
              </div>
              <ng-template #lazyTabView>
                <ng-template pTemplate="content">
                  <offer-chat [chat]="chat" (onSend)="sendChatMessage($event)"></offer-chat>
                </ng-template>
              </ng-template>
            </p-tabPanel>
          </p-tabView>
        </div>
        <ng-template #noChats>
          <p>Zatím nikdo neodepsal</p>
        </ng-template>
      </div>
      <ng-template #notOwnerView>
        <offer-chat [chat]="chats ? chats[0] : null" [ownerName]="offer!!.userName" (onSend)="sendChatMessage($event)"></offer-chat>
      </ng-template>
    </div>
  </p-card>
</div>
