<div class="p-grid">
  <div class="p-col-10">
    <p-card header="O nás">
      <div style="height: 400px">
        <p>
          ŠETŘÍME místo, čas a finance...<br>
          - Válí se vám kniha v knihovně, nebo dokonce zabírá místo v šuplíku nebo v krabici - nabídněte jí dál.<br>
          - Nemáte čas Obcházet všechny půjčovny nebo knihobudky.<br>
          - Nechcete si knihy kupovat bez vědomí že je otevřete více než jedenkrát.</p>
        <br>
        <p>Pokud jste odpověděli aspoň na jednu otázku <i>ano</i>, tak jste tu správně, tato platforma se zabívá půjčováním knih mezi uživateli naší aplikace.</p>
        <br>
        <p>
          <i>Resaleable, reuseable, ...</i> jsou výrazy, které se nyní stále častěji opakují kolem nás a tak naše <b>rereadable</b> skvěle zapadá mezi další možností tohoto trendu - jak něco, v našem případě knihu, mohu nabídnout k dalšímu využití.</p>
        <br>
        <p>Možná už každý někdy potkal červené telefoni budky, rozmístěné po Praze, kam může kdokoliv knížky umístit a ty, které ho zaujmout si odnést. V dnešní koronakrizové době, kdy se musí většina populace zdržovat převážně doma, nabízíme uživatelům možnost, zprostředkovat tento proces
          online.</p>
        <br>
        <p><b>Registruj se</b> a získáš tyto výhody:</p>
      </div>
    </p-card>
  </div>
  <div class="p-col-2">
    <p-card header="Kontakt">
      <div style="height: 400px">
        Provozovatel:
        <p>
          Posliknihu JMSVD<br>
          Office Q<br>
          Dlouhá 876/12<br>
          Praha<br>
          Česká Republika
        </p>
      </div>
    </p-card>
  </div>
</div>
