<div class="offer-table">
  <p-panel [(ngModel)]="panelFilterHeader" [header]="panelFilterHeader" [toggleable]="true" toggler="header">
    <div class="p-grid p-fluid" style="max-width: 700px;">
      <div class="p-col-6 p-md-6">
        <label for="filter-genre">Žánr</label>
        <p-multiSelect inputId="multiselect" [options]="bookGenres" [(ngModel)]="filterGenres" optionLabel="nameCz"></p-multiSelect>
      </div>
      <div class="p-col-4 p-md-4">
        <label for="filter-rating">Hodnocení</label>
        <p-rating id="filter-rating" [(ngModel)]="filterRating" [cancel]="true"></p-rating>
      </div>
      <div class="p-col-2 p-md-2">
        <label for="filter-fav">Oblibené</label>
        <br>
        <p-triStateCheckbox id="filter-fav" [(ngModel)]="filterFavourite"></p-triStateCheckbox>
      </div>
      <div class="p-col-6 p-md-6">
        <label for="filter-book-name">Název</label>
        <input id="filter-book-name" type="text" pInputText [(ngModel)]="filterBookName">
      </div>
      <div class="p-col-6 p-md-6">
        <label for="filter-author">Autor</label>
        <input id="filter-author" type="text" pInputText [(ngModel)]="filterAuthor">
      </div>
      <span class="p-col-12 p-buttonset">
        <button pButton type="button" label="Zrušit filtry" icon="pi pi-times" class="p-button-raised p-button-danger p-button-text"
          (click)="performFilters(true)"></button>
        <button pButton type="button" label="Hledat" icon="pi pi-filter" class="p-button-raised p-button-text"
          (click)="performFilters(false)"></button>
      </span>
    </div>
  </p-panel>

  <div style="margin-bottom: 50px; overflow: auto;">
    <p-table [value]="offers" sortMode="single" [paginator]="true" [rows]="5" [rowsPerPageOptions]="[5,10,20]"
             [totalRecords]="totalRecords">
      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
            <col class="col-book-name">
            <col class="col-author">
            <col class="col-genre">
            <col class="col-rating">
            <col class="col-action">
        </colgroup>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="bookName">Název <p-sortIcon field="bookName"></p-sortIcon></th>
          <th pSortableColumn="author">Autor <p-sortIcon field="author"></p-sortIcon></th>
          <th pSortableColumn="genre">Žánr <p-sortIcon field="genre"></p-sortIcon></th>
          <th pSortableColumn="rating">Hodnocení <p-sortIcon field="rating"></p-sortIcon></th>
          <th>Akce</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-offer>
        <tr>
          <td>{{offer.bookName}}</td>
          <td>{{offer.author}}</td>
          <td>{{bookGenreMap.get(offer.genre)!!.nameCz}}</td>
          <td><p-rating [ngModel]="offer.rating" [readonly]="true" [cancel]="false"></p-rating></td>
          <td>
            <span style="display: flex; align-items: center;">
              <button pButton type="button" icon="pi pi-external-link" class="p-button-rounded p-button-info p-button-text"
                      (click)="goToOfferDetail(offer)"></button>
              <button pButton type="button" icon="pi pi-heart" class="p-button-rounded p-button-text favourite-icon"
                      [style.color]="offer.favourite ? 'red' : 'grey'" (click)="markAsFavourite(offer)"></button>
            </span>
          <td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
