<form (ngSubmit)="onSubmit()">
  <div class="p-field p-grid">
    <div class="p-inputgroup p-col-fixed" style="width:30%">
      <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
      <input type="email" class="p-inputtext-lg" pInputText required [(ngModel)]="registrationModel.email" #email="ngModel"  name="email"
             [class.is-invalid]="email.invalid && email.touched"
             pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
      placeholder="E-mail"/>
    </div>
  </div>

  <div class="p-field p-grid">
    <div class="p-inputgroup p-col-fixed" style="width:30%">
      <span class="p-inputgroup-addon"><i class="pi pi-key"></i></span>
      <input type="password" class="p-inputtext-lg" pPassword required placeholder="Heslo"
             [(ngModel)]="registrationModel.password" name="password">
    </div>
  </div>

  <p-button label="Vytvořit account" icon="pi pi-check" iconPos="right" type="submit"></p-button>

</form>
<!--<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">-->
<!--  <div class="p-field p-grid">-->

<!--      <div class="p-inputgroup p-col-fixed" style="width:30%">-->

<!--        <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>-->
<!--        <input [class.is-invalid]="email.invalid && email.touched" type="email" class="p-inputtext-lg"-->
<!--               formControlName="primaryEmail" />-->

<!--        <div *ngIf="(email.invalid && email.touched) || email.dirty">-->
<!--          <small *ngIf="email.errors?.required" class="text-danger">Primary email is required</small>-->
<!--          &lt;!&ndash;question mark(?) is a safe navigation operator&ndash;&gt;-->
<!--          <small *ngIf="email.errors?.pattern" class="text-danger">Please provide a valid email address</small>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="p-field p-grid">-->
<!--      <div class="p-inputgroup p-col-fixed" style="width:30%">-->
<!--        <span class="p-inputgroup-addon"><i class="pi pi-key"></i></span>-->
<!--        <input formControlName="password" type="text" class="p-inputtext-lg" pPassword placeholder="Password">-->
<!--      </div>-->
<!--    </div>-->

<!--    <p-button label="Create account" icon="pi pi-check" iconPos="right" type="submit"-->
<!--              [disabled]="!registerForm.valid"></p-button>-->

<!--</form>-->
