.chat {
  max-width: 490px;
  float:left;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #434651;

  .chat-history {
    padding-right: 10px;
    overflow-y: scroll;
    max-height: 400px;
    min-height: 300px;

    .message-data {
      margin-bottom: 15px;
    }

    .message-data-time {
      color: lighten(gray, 8%);
      padding-left: 6px;
    }

    .message {
      color: white;
      padding: 18px 20px;
      line-height: 26px;
      font-size: 16px;
      border-radius: 7px;
      margin-bottom: 30px;
      width: 90%;
      position: relative;
      word-wrap: break-word;

      &:after {
        bottom: 100%;
        left: 7%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-bottom-color: green;
        border-width: 10px;
        margin-left: -10px;
      }
    }

    .my-message {
      background: green;
    }

    .other-message {
      background: blue;

      &:after {
        border-bottom-color: blue;
        left: 93%;
      }
    }
  }
}

.chat-message {
  display: flex;
  justify-content: center;

  textarea {
    width: 100%;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    font: 14px/22px "Lato", Arial, sans-serif;
    border-radius: 5px;
    resize: none;
    background: #F2F5F8;
  }

  button {
    float: right;
    color: blue;
    font-size: 16px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    margin-bottom: 10px;
    background: none;

    &:hover {
      color: darken(blue, 7%);
      background: #F2F5F8;
    }

    &:disabled {
      color: grey;
      background: none;
      cursor: not-allowed;
    }
  }
}

.align-right {
  text-align: right;
}

.float-right {
  float: right;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.warn-text {
  font-size: 10px;
  color: red;
  padding-left: 5px;
  padding-bottom: 10px;
}
